.container {
  margin: 0 auto;
  width: 1024px;
  height: auto;
}

.content {
  width: 1024px;
}

.content img {
  margin-top: -4px;
}

.content__background {
  position: relative;
}

.item 1 {
  position: relative;
}

.item1 img {
  float: left;
}

.item2 {
  position: absolute;
  margin-top: 293px;
}

.item3 {
  position: absolute;
  margin-top: 616px;
}

.item3 > img {
  position: relative;
}

.item2 img {
  float: left;
  
}

.item3__inner1 img {
  float: left;
}

.item3__inner2 {
  position: absolute;
  margin-top: 298px;
}

.item3__inner2 > img {
  position: relative;
}

.item3__inner3 {
  position: absolute;
  margin-top: 303px;
}

.item3__inner3 > img {
  position: relative;
}

.item3__inner4 {
  position: absolute;
  margin-top: 306px;
}

.item3__inner4 > img {
  position: relative;
}

.item4 {
  position: absolute;
  margin-top: 1228px;
}

.button {
  position: absolute;
  margin-top: 224px;
  margin-left: 66px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.but2 {
  margin-left: 36px;  
}

.but3 {
  margin-top: 256px;
}

.but4 {
  margin-left: 35px;
  margin-top: 256px;
}

.eightbutton {
  position: absolute;
  margin-top: 3802px;
  margin-left: 65px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.eightbutton-2, 
.eightbutton-4, 
.eightbutton-6, 
.eightbutton-8 {
  margin-left: 36px;
}

.eightbutton-3, 
.eightbutton-4, 
.eightbutton-5, 
.eightbutton-6, 
.eightbutton-7, 
.eightbutton-8 {
  margin-top: 256px;
}

.foot {
  position: relative;
  margin-top: -4px;
}

.foot .one {
  position: absolute;
  margin-top: -176px;
  margin-left: 38px;
  padding-right: 10px;
  font-size: 11px;
  color: #fff;
}

.foot .two {
  position: absolute;
  margin-top: -177px;
  margin-left: 118px;
  padding-right: 10px;
  font-size: 11px;
  color: #fff;
}

.foot .three {
  position: absolute;
  margin-top: -177px;
  margin-left: 275px;
  padding-right: 10px;
  font-size: 11px;
  color: #fff;
}

.foot__back {
  position: absolute;
  margin-top: -238px;
  margin-left: 809px;
}